* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
}

.container::after, .container::before {
    content: '';
    display: table;
    clear: both;
}

