/*Web site by Thxjao - github/thxjao */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
.nunito {
    font-family: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.slab {
    font-family: 'Roboto Slab', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
.roboto {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    max-width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 960px;
    display: flex;
    margin: 0 auto;
}

/*Column*/

.col {
    flex: 1;
}

/* Header */

.header {
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
}

.header ul li {
    display: inline-block;
    margin-left: 40px;
}

.header ul li a {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}

/*Test*/



/* Main */
.main {
    padding-top: 100px;
}

.main .form-div {
    padding-right: 20px;
}

.main .form-div h1 {
    font-size: 68px;
    font-weight: 500;
    max-width: 488px;
    letter-spacing: 6px;
}

.main .form-div h3 {
    font-size: 44px;
    font-weight: 300;
    max-width: 488px;
    letter-spacing: 1.1px;
}

.main .form-div form input.main-input {
    display: block;
    width: 438px;
    height: 55px;
    border: none;
    border-radius: 10px;
    background: #C4C4C4;
    margin-top: 30px;
}

.main .form-div form input.main-input::placeholder {
    color: #4B4B4B;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    text-align: center;
}

.main .form-div form input.main-btn {
    width: 175px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: black;
    margin-left: 131.5px;
    margin-top: 20px;
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.main .form-div form input.main-btn:hover {
    cursor: pointer;
    letter-spacing: 2px;
}

@media screen and (max-width: 960px) {
    .main {
        display: block;
        max-width: 100%;
    }

    .main .image-div img {
        
    }
}

/* About section */

.sobre {
    background: black;
}

.sobre div.container {
    padding: 40px 20px;
}

.sobre-texto {
    padding: 0 20px;
}

.sobre-texto h2 {
    color: white;
    font-size: 60px;
}

.sobre-texto p {
    color: white;
    font-size: 20px;
}

.sobre-video video {
    margin-left: 20px;
}

.sobre-video {
    text-align: center;
    padding-bottom: 20px;
}

.sobre-video button {
    width: 440px;
    margin-left: 20px;
    margin-top: 20px;
    height: 60px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: bold;
}

.sobre-video button:hover {
    cursor: pointer;
    letter-spacing: 2px;
}

/* Qualidade */

section.qualidade {
    padding-top: 40px;
}

div.phone-image {
    padding-right: 80px;
}

div.qualidade-lista {
    padding-left: 10px;
    padding-top: 100px;
}

div.qualidade-lista h2 {
    font-size: 44px;
    letter-spacing: 4.4px;
}

div.qualidade-lista h4 {
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 7.4px;
    padding-bottom: 40px;
}

div.qualidade-lista ul {
    text-align: center;
}

div.qualidade-lista ul li {
    width: 320px;
    height: 73px;
    margin-bottom: 15px;
    background-color: #424242;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 28px;
    padding-top: 19px;
}

/* Footer */

.footer {
    background-color: black;
}

.footer div.container {
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    text-align: center;
}

.footer div.container div.footer-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer div.container div.footer-texto h2 {
    color: white;
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.footer div.container div.footer-texto h4 {
    text-align: center;
    color: white;
    font-size: 30px;
    max-width: 500px;
    font-weight: normal;
    padding-bottom: 40px;
}

.footer-image-container {
    margin: 0 auto;
}

.footer div.container button {
    width: 400px;
    height: 60px;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

.footer div.container button:hover {
    letter-spacing: 0.02em;
    cursor: pointer;
}

/* By Thxjao */








